/*
TODO:
Style search bar
Style search buttons
Style sign-in button
*Bonus*
Add a mic to search bar
*/

body {
    font-family: arial,sans-serif;
    font-size: 13px;
    margin: 0;
}

ul.top-navbar {
    list-style-type: none; /* Remove bullets */
    padding: 0; 
    margin: 0;
  }

.sign-in-button {
    background-color:#4285f4;
    color:white;
    border: 1px solid #4285f4;
    font-weight: bold;
    padding: 5px 10px;
    margin:10px;
    border-radius: 2px;
}

.main-section {
    text-align: center;
    padding-top: 200px;
}

.google-home-img {
    padding: 20px;
}

.search-box-div {
    padding: 20px;
    display: flex;
}

.search-buttons-div {
    display: flex;
    flex-direction: row; 
}

input[type=text] {
        background: #fff;
        display: flex;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        z-index: 3;
        height: 44px;
        margin: 0 auto;
        width: auto;
        max-width: 584px;
        flex: 100%;
}

.search-buttons {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

footer {
    padding-left: 0;
    padding-right: 0;
    margin:0;
}

ul.bottom-navbar {
    list-style-type: none; /* Remove bullets */
    padding:0;
    margin: 0;
    background-color:#f2f2f2;
    overflow:hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

li a {
    display: block;
    color: rgb(73, 72, 72);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0 !important;
  }

li.left {
    float:left;
}

li.right {
    float:right;
}



