/*
TODO:
Push submit buttons below the search bar
Style search bar
Style sign-in button
*Bonus*
Add a mic to search bar
*/

body {
    font-family: arial,sans-serif;
    font-size: 13px;
    margin: 0;
}

ul.top-navbar {
    list-style-type: none; /* Remove bullets */
    padding: 0; 
    margin: 0;
  }

.sign-in-button {
    background-color:#4285f4;
    color:white;
    border: 1px solid #4285f4;
    font-weight: bold;
    padding: 5px 10px;
    margin:10px;
    border-radius: 2px;
}

.main-section {
    text-align: center;
    padding-top: 200px;
}

/*#search-box {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    font: 16px arial,sans-serif;
    line-height: normal;
    height: 34px !important;
} */

.google-home-img {
    padding: 20px;
}

.search-box-div {
    padding: 20px;
}

.search-buttons {
    display: flex;
    flex-direction: row; 
}

footer {
    padding-left: 0;
    padding-right: 0;
    margin:0;
}

ul.bottom-navbar {
    list-style-type: none; /* Remove bullets */
    padding:0;
    margin: 0;
    background-color:#f2f2f2;
    overflow:hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

li a {
    display: block;
    color: rgb(73, 72, 72);
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    margin: 0 !important;
  }

li.left {
    float:left;
}

li.right {
    float:right;
}



