#main-section {
    text-align: center;
    padding-top: 250px;
}

footer {
    padding-top: 30em;
}

ul.top-navbar {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0;
    background-color: white;
  }

ul.bottom-navbar {
    list-style-type: none; /* Remove bullets */
    padding-left:0;
    margin: 0;
  }

.bottom-navbar-items {
    background-color: rgb(85, 83, 83);/*The background-color isn't changing*/
}

li a {
    display: block;
    color: rgb(73, 72, 72);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li button {
      display:block;
      text-align: center;
  }
  
li.left {
    float:left;
}

li.right {
    float:right;
}



